
header h1{
  text-align: center;
}

header nav{
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
}

header nav a{
  font-size: 16px;
}

table tr th{
  text-align: center;
}