body {
	display: flex;
	flex-direction: column;
}

.wrapper {
	
}

#map {
	float:left;
	clear:both;
}

.point {
	position:absolute;
	display:none;
	padding:10px 15px;
	background:#7BB9F0;
	font-size:24px;
	font-weight:bold;
	-moz-border-radius:8px;
}

.point .close {
	display:block;
	position:absolute;
	top:-10px;
	right:-10px;
	width:24px;
	height:24px;
	text-indent:-9999px;
	outline:none;
	background:url(../img/close.png) no-repeat;
}

.point img {
	vertical-align:middle;
	margin-right:10px;
}

a img {
	border:none;
}

#info{
  padding: 10px;
}

.row{
  display: flex;
  flex-direction: column;
}